*{
    margin: 10px 5px;
    padding: 0;
    box-sizing: border-box;
}
#formToast{
    font-size: 20px;
    padding: 10px;
    color: rgb(32, 16, 124);
    background-color: rgb(156, 164, 170);
    width: 90%;
    min-height: 75%;
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);    
    transition: all 2s;
    border: 10px solid rgb(86, 86, 102);
    border-radius: 5px;
    display: none;
    


}
#btnSubmitToast{
    position: absolute;
    top: 100%;   
    left: 50%;
    transform: translateX(-50%);
    padding: 10px; 
    display: block;
    color: rgb(35, 226, 178);
    font-size: 20px;  
    border-radius: 25px; 
    background-color: rgb(79, 42, 165);

}

#showFinal{
    display: none;
}